{% include "header.html" %}
{% block content %}
    <div class="content">
        <div class="container maincontent">
            <!-- CONTAINER -->
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8 col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
                    <!-- CONTAINER -->
                    <div style="padding-bottom:100px">
                        <h2>Register
                            <small>Register Now or <a href="">Login to Account</a></small>
                        </h2>
                        <form action="{{ url_for('auth.signup') }}" method=post>
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.username.label }}
                                {% for message in form.username.errors %}
                                    <div class="flash font-varela">
                                        <i class="fa fa-times text-danger pb4"></i>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                {{ form.name.label }}
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                {{ form.email.label }}
                                {% for message in form.email.errors %}
                                    <div class="flash font-varela">
                                        <i class="fa fa-times text-danger pb4"></i>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {{ form.email }}
                            </div>
                            <hr class="hr-sm hr-stroke"/>
                            <div class="form-group">
                                {{ form.password.label }}
                                {% for message in form.password.errors %}
                                    <div class="flash font-varela">
                                        <i class="fa fa-times text-danger pb4"></i>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {{ form.password }}
                            </div>
                            <div class="form-group">
                                {{ form.confirm.label }}
                                {% for message in form.confirm.errors %}
                                    <div class="flash font-varela">
                                        <i class="fa fa-times text-danger pb4"></i>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {{ form.confirm }}
                            </div>
                            <hr class="hr-sm hr-stroke"/>
                            <div class="form-group">
                                {{ form.submit(class_='btn btn-primary') }}
                            </div>
                        </form>
                        <!-- /.container -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% include "footer.html" %}