{% include "header.html" %}
{% block body %}
    <div class="content">
        <div class="container">
            <!-- CONTAINER -->
            This is users
            <ul>
                {% for user  in users %}
                    <li>{{ user.username }}</li>
                    <ol>
                        {% for i in user.addresses %}
                            <li>{{ i.address }}
                        {% endfor %}
                    </ol>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
    </script>
{% endblock %}
{% include "footer.html" %}
