{% extends "header.html" %}
{% block stylesheet %}
{% endblock %}
{% block body %}
{% endblock %}
{% block javascript %}
{% endblock %}
	<!-- CONTENT -->
	<div class="content mix-wrap">

		<!-- CONTAINER -->
		<div class="container">

			<div class="row irow-xs">
				<div class="col-sm-4">
					<h2>Image gallery</h2>
				</div>
				<div class="col-sm-8 text-right">
					<ul class="mix-category">
						<li class="active"><a href="#all" class="filter active" data-filter="*">All images</a></li>
						<li><a href="#office" class="filter" data-filter=".office">Office</a></li>
						<li><a href="#workspace" class="filter" data-filter=".workspace">Workspace</a></li>
						<li><a href="#team" class="filter" data-filter=".team">Team</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /.container -->

		<!-- CONTAINER -->
		<div class="container">
			<div class="row isotope-wrap gallery-wrap magnific-wrap margin-wrap">
				<div class="col-sm-4 col-xs-6 mix office">
					<figure class="figure">
						<img src="http://placehold.it/2000x1333" alt="">
						<div class="mask mask-dark">
							<nav>
								<a class="icon icon-inverse icon-size-3 icon-theme icon-rounded magnific-gallery" data-gallery="http://placehold.it/2000x1333, http://placehold.it/2000x1333, http://placehold.it/2000x1333" href="" title="Office Department">
									<i class="fa fa-picture-o"></i>
								</a>
							</nav>
						</div>
					</figure>
				</div>
				<div class="col-sm-4 col-xs-6 mix workspace">
					<figure class="figure">
						<img src="http://placehold.it/2000x1333" alt="">
						<div class="mask mask-dark">
							<nav>
								<a class="icon icon-inverse icon-size-3 icon-theme icon-rounded magnific" href="http://placehold.it/2000x1333" title="Diary">
									<i class="fa fa-search"></i>
								</a>
							</nav>
						</div>
					</figure>
				</div>
				<div class="col-sm-4 col-xs-6 mix team">
					<figure class="figure">
						<img src="http://placehold.it/2000x1333" alt="">
						<a href="" class="mask mask-info mask-dark text-center">
							<div class="mask-info">
								<h4>Office Gallery</h4>
								<div class="heading-divider"></div>
							</div>
						</a>
					</figure>
				</div>
				<div class="col-sm-4 col-xs-6 mix workspace">
					<figure class="figure">
						<img src="http://placehold.it/2000x1333" alt="">
						<div class="mask mask-dark">
							<nav>
								<a class="icon icon-inverse icon-size-3 icon-theme icon-rounded magnific-video"  href="https://vimeo.com/45830194" title="Modern equipment">
									<i class="fa fa-eye"></i>
								</a>
							</nav>
						</div>
						<div class="icon icon-inverse icon-size-2 icon-theme icon-rounded">
							<i class="fa fa-video-camera"></i>
						</div>
					</figure>
				</div>
				<div class="col-sm-4 col-xs-6 mix team">
					<figure class="figure">
						<img src="http://placehold.it/2000x1333" alt="">
						<div class="mask mask-dark">
							<nav>
								<a class="icon icon-inverse icon-size-3 icon-theme icon-rounded magnific" href="http://placehold.it/2000x1333" title="Happy Clients">
									<i class="fa fa-search"></i>
								</a>
							</nav>
						</div>
					</figure>
				</div>
				<div class="col-sm-4 col-xs-6 mix office">
					<figure class="figure">
						<img src="http://placehold.it/2000x1333" alt="">
						<div class="mask mask-dark">
							<nav>
								<a class="icon icon-inverse icon-size-3 icon-theme icon-rounded magnific" href="http://placehold.it/2000x1333" title="Meetups">
									<i class="fa fa-search"></i>
								</a>
							</nav>
						</div>
					</figure>
				</div>
				<div class="col-sm-4 col-xs-6 mix team">
					<figure class="figure">
						<img src="http://placehold.it/2000x1333" alt="">
						<a href="" class="mask mask-info mask-dark text-center">
							<div class="mask-info">
								<h4>Creativity</h4>
								<div class="heading-divider"></div>
							</div>
						</a>
					</figure>
				</div>
				<div class="col-sm-4 col-xs-6 mix workspace">
					<figure class="figure">
						<img src="http://placehold.it/2000x1333" alt="">
						<div class="mask mask-dark">
							<nav>
								<a class="icon icon-inverse icon-size-3 icon-theme icon-rounded magnific" href="http://placehold.it/2000x1333" title="Design View">
									<i class="fa fa-search"></i>
								</a>
							</nav>
						</div>
					</figure>
				</div>
				<div class="col-sm-4 col-xs-6 mix team">
					<figure class="figure">
						<img src="http://placehold.it/2000x1333" alt="">
						<a href="" class="mask mask-info mask-dark text-center">
							<div class="mask-info">
								<h4>Thinking</h4>
								<div class="heading-divider"></div>
							</div>
						</a>
					</figure>
				</div>
				<div class="col-sm-4 col-xs-6 mix workspace">
					<figure class="figure">
						<img src="http://placehold.it/2000x1333" alt="">
						<div class="mask mask-dark">
							<nav>
								<a class="icon icon-inverse icon-size-3 icon-theme icon-rounded magnific-video" href="https://vimeo.com/45830194" title="Infographics">
									<i class="fa fa-eye"></i>
								</a>
							</nav>
						</div>
						<div class="icon icon-inverse icon-size-2 icon-theme icon-rounded">
							<i class="fa fa-video-camera"></i>
						</div>
					</figure>
				</div>
				<div class="col-sm-4 col-xs-6 mix office">
					<figure class="figure">
						<img src="http://placehold.it/2000x1333" alt="">
						<a href="" class="mask mask-info mask-dark text-center">
							<div class="mask-info">
								<h4>Timely Support</h4>
								<div class="heading-divider"></div>
							</div>
						</a>
					</figure>
				</div>
				<div class="col-sm-4 col-xs-6 mix workspace">
					<figure class="figure">
						<img src="http://placehold.it/2000x1333" alt="">
						<div class="mask mask-dark">
							<nav>
								<a class="icon icon-inverse icon-size-3 icon-theme icon-rounded magnific-gallery" data-gallery="http://placehold.it/2000x1333, http://placehold.it/2000x1333, http://placehold.it/2000x1333, http://placehold.it/2000x1333" href="" title="Notes">
									<i class="fa fa-picture-o"></i>
								</a>
							</nav>
						</div>
					</figure>
				</div>
			</div>
		</div>
		<!-- /.container -->

	</div>
	<!-- /.content -->

</div>
<!-- /.wrapper -->

<!-- FOOTER -->
<footer class="footer footer-dark">
	<!-- PROMO-BOX -->
	<div class="promo-box promo-box-simple promo-box-light">
		<h4>Mexico - Responsive Multipurpose Template</h4>
		<a href="" class="btn btn-primary">Purchase</a>
	</div>
	<!-- /.promo-box -->

	<!-- FOOTER ROW -->
	<div class="footer-row">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-xs-6">
<div class="widget widget_about">
	<h2 class="widget-title">About Mexico</h2>
	<div class="widget-counts">
		<div class="countup" data-increment="130" data-num="3980" data-order-separator=","></div>
		<span class="countup-info">Happy Clients</span>
	</div>
	<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius.</p>
</div>
				</div>
				<div class="col-md-3 col-xs-6">
<div class="widget widget_twitter">
	<h2 class="widget-title">Latest Tweets</h2>
	<div id="tweet-feed"></div>
</div>
				</div>
				<div class="col-md-2 col-xs-6">
<div class="widget widget_links">
	<h2 class="widget-title">Company</h2>
	<ul>
		<li><a href="">About Us</a></li>
		<li><a href="">Services</a></li>
		<li><a href="">Meet Our Team</a></li>
		<li><a href="">Careers</a></li>
		<li><a href="">Mexico Partners</a></li>
		<li><a href="">Plans and Pricing</a></li>
		<li><a href="">Contact Us</a></li>
	</ul>
</div>
				</div>
				<div class="col-md-3 col-xs-6">
<div class="widget widget_contact">
	<h2 class="widget-title">Contact Us</h2>
	<ul class="widget_contact_list">
		<li>
			<i class="fa fa-map-marker"></i>
			<address>
				<span>Address:</span> Le Meridien <br/>
				21 Piccadilly, London <br/>
				W1J 0BH, United Kingdom
			</address>
		</li>
		<li>
			<i class="fa fa-phone"></i>
			<address>
				<span>Phone:</span> Office <a href="tel:+370212290">+370 212 290</a>, <br/>
				Sales <a href="tel:+370212290">+370 212 290</a>
			</address>
		</li>
		<li>
			<i class="fa fa-envelope"></i>
			<address>
				<span>Email:</span>
				<a href="mailto:info@sample.com"><strong>info@sample.com</strong></a>
			</address>
		</li>
	</ul>
</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.footer-row -->

	<!-- FOOTER EXTRA -->
	<div class="footer-extra">
		<div class="container">
			<nav class="contact-info pull-left">
				<a href="tel:+3706546340" class="phone"><i class="fa fa-phone"></i> +370 654 630 40</a>
				<a href="mailto:info@sample.com" class="email"><i class="fa fa-envelope-o"></i> info@sample.com</a>
			</nav>
			<nav class="extra-menu pull-right">
				<a href=""><i class="fa fa-lock"></i>Account</a>
				<a href="">Wishlist</a>
				<a href="">Shopping Cart</a>
				<a href="">Logout</a>
			</nav>
		</div>
	</div>
	<!-- /.footer-extra -->

</footer>

<!-- SCRIPTS -->
<script src="../../js/jquery-2.1.4.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/plugins.js"></script>
<script src="../../js/custom.js"></script>
</body>
</html>
{% include "footer.html" %}
