/*------------------------------------------------------------------
[ PRELOADER ]
-------------------------------------------------------------------*/

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: url(http://media.aisconverse.com/images/other/preloader.gif) no-repeat 50% 50% #fff;
}
