{% include "header.html" %}

<!-- CONTENT -->
<div class="content">
    <hr class="hr-nobg hr-sm hidden-xs"/>
    <!-- CONTAINER -->
    <div class="container">
        <section class="row page-header text-center">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="icon icon-color icon-size-7">
                    <i class="fa fa-search"></i>
                </div>
                <h1>Page Not Found</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip retex tempor incididunea commodo consequat.</p>
                <a href="/" class="btn btn-primary btn-wide">Home</a>
            </div>
        </section>
    </div>
    <!-- /.container -->
    <hr class="hr-nobg hidden-xs"/>
</div>
<!-- /.content -->