<!-- FOOTER -->
<footer class="footer footer-dark">
    <!-- FOOTER ROW -->
    <div class="footer-row">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="widget widget_tag_cloud">
                        <h2 class="widget-title">Popular Tags</h2>
                        <div class="tagcloud">
                            <a href="#">Agency</a>
                            <a href="#">Blog</a>
                            <a href="#">Bootstrap</a>
                            <a href="#">Category</a>
                            <a href="#">Creative</a>
                            <a href="#">Masonry</a>
                            <a href="#">Grid</a>
                            <a href="#">Portfolio</a>
                            <a href="#">Responsive</a>
                            <a href="#">Photography</a>
                            <a href="#">Modern</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="widget widget_calendar">
                        <h2 class="widget-title">September 2015</h2>
                        <table>
                            <thead>
                            <tr>
                                <th scope="col" title="Monday">M</th>
                                <th scope="col" title="Tuesday">T</th>
                                <th scope="col" title="Wednesday">W</th>
                                <th scope="col" title="Thursday">T</th>
                                <th scope="col" title="Friday">F</th>
                                <th scope="col" title="Saturday">S</th>
                                <th scope="col" title="Sunday">S</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                                <td><a href="">1</a></td>
                                <td><a href="">2</a></td>
                                <td><a href="">3</a></td>
                                <td><a href="">4</a></td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>7</td>
                                <td id="today">8</td>
                                <td><a href="">9</a></td>
                                <td><a href="">10</a></td>
                                <td><a href="">11</a></td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td><a href="">13</a></td>
                                <td><a href="">14</a></td>
                                <td>15</td>
                                <td><a href="">16</a></td>
                                <td>17</td>
                                <td><a href="">18</a></td>
                                <td><a href="">19</a></td>
                            </tr>
                            <tr>
                                <td><a href="">20</a></td>
                                <td>21</td>
                                <td><a href="">22</a></td>
                                <td><a href="">23</a></td>
                                <td><a href="">24</a></td>
                                <td>25</td>
                                <td>26</td>
                            </tr>
                            <tr>
                                <td>27</td>
                                <td>28</td>
                                <td><a href="">29</a></td>
                                <td><a href="">30</a></td>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="widget widget_recent_entries">
                        <h2 class="widget-title">Recent Posts</h2>
                        <ul>
                            <li><a href="">HTML Tags and Formatting</a></li>
                            <li><a href="">Markup: Image and Text Alignment</a></li>
                            <li><a href="">Title With Special Characters</a></li>
                            <li><a href="">Post about web design</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="widget widget_recent_comments">
                        <h2 class="widget-title">Recent Comments</h2>
                        <ul>
                            <li>
                                <p>Sandra Jhonson on <a href="">HTML Tags and Formatting</a></p>
                            </li>
                            <li>
                                <p>Mexico Team on <a href="">Markup: Image and Text Alignment</a></p>
                            </li>
                            <li>
                                <p>Sandra Jhonson on <a href="">Title With Special Characters</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.footer-row -->

    <!-- FOOTER EXTRA -->
    <div class="footer-extra">
        <div class="container">
            <!-- NAVBAR BRAND -->
            <a class="navbar-brand pull-left" href="">
                <img src="http://placehold.it/22x22" alt="Flatcoke">
                Flatcoke
            </a>
            <!-- /.navbar-brand -->
            <p class="copyrights pull-left">&copy; Copyrights 2015 &nbsp;<a href="">Flatcoke</a></p>

            <!-- NAVBAR FORM -->
            <form class="navbar-form pull-right">
                <div class="navbar-search collapse">
                    <input type="text" placeholder="Type and hit enter...">
                    <i class="fa fa-times" data-toggle="collapse" data-target=".navbar-search"></i>
                </div>
                <button type="button" class="fa fa-search" data-target=".navbar-search" data-toggle="collapse"></button>
            </form>
            <!-- /.navbar-form -->

            <div class="divider pull-right"></div>

            <nav class="extra-menu pull-right">
                <a href="">Terms of Use</a>
                <a href="">Privacy Policy</a>
                <a href="">Agreement</a>
            </nav>
        </div>
    </div>
    <!-- /.footer-extra -->

</footer>
